@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 1.125rem;
  line-height: 1.75rem;
  overflow-x: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }

  @media screen and (max-width: 992px) {
    max-width: 992px;
  }

  @media screen and (max-width: 768px) {
    max-width: 768px;
  }

  @media screen and (max-width: 576px) {
    max-width: 576px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html {
  -webkit-tap-highlight-color: transparent;
}

button {
  outline: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body,
div,
article,
section,
main,
footer,
header,
form,
fieldset,
legend,
pre,
code,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
table,
td,
th,
tr,
input {
    box-sizing: border-box;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
}

.glow {
  width: 100%;
  height: 100vh;
  content: " ";
  position: absolute;
  z-index: -1;
  background: rgba(96, 51, 202, 0.15); //Custom color
  mask: radial-gradient(circle at 50% 0%, black 0%, transparent 70%);
  right: 0;
  top: 0;
}